body {
    background: linear-gradient( #c80000, #6f0603);
    text-align: center;
    font-family: Arial;
}

.brett {
    font-size:1vmin; /*relative to viewport size*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -45vmin 0 0 -45vmin;
    width: 90vmin;
    height: 90vmin;
    border: solid 0.1em white;
    overflow: hidden;
}


.brikke {
    position:absolute;
    width:30vmin;
    height:30vmin;
    transition:top .5s, left .5s;
}

/*Bilde-brikkene*/
.brikke::after {
    border: solid 0.1em white;
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;
    background-size: 90vmin 90vmin;
    background-image: url("assets/009-2.jpg");
}



/*Det du trykker på*/
label {
    transition: .5s;
    display:block;
    width: 17vmin;
    height: 20vmin;
    position:absolute;
    background:green;
    -webkit-clip-path: polygon(50% 8%, 85% 30%, 70% 30%, 95% 50%, 75% 50%, 100% 70%, 60% 70%, 60% 80%, 40% 80%, 40% 70%, 0% 70%, 25% 50%, 5% 50%, 30% 30%, 15% 30%);
    clip-path: polygon(50% 8%, 85% 30%, 70% 30%, 95% 50%, 75% 50%, 100% 70%, 60% 70%, 60% 80%, 40% 80%, 40% 70%, 0% 70%, 25% 50%, 5% 50%, 30% 30%, 15% 30%);
}

label:hover {
    background: darkgreen;
    cursor: pointer;
}


/*Default plassering av trykkeflate  */
label[for^="opp"]{
    top: -13vmin;
    left: 6vmin;
    transform:rotate(0deg);
}

label[for^="ned"]{
    bottom: -13vmin; /*top: 20*/
    left:7vmin;
    transform:rotate(180deg);

}
label[for^="tilVenstre"]{
    left: -11vmin;
    top:5vmin;
    transform:rotate(-90deg);
}

label[for^="tilHoyre"]{
    right: -12vmin;
    top:5vmin;
    transform:rotate(90deg);
}


label[for^="tilVMidt"]{
    display:none;
    left:7vmin;
}

/*Label V-midt ovenfra*/
#opp-1:checked ~* [for="tilVMidt-1"],
#opp-2:checked ~* [for="tilVMidt-2"],
#opp-3:checked ~* [for="tilVMidt-3"],
#opp-4:checked ~* [for="tilVMidt-4"],
#opp-5:checked ~* [for="tilVMidt-5"],
#opp-6:checked ~* [for="tilVMidt-6"],
#opp-7:checked ~* [for="tilVMidt-7"],
#opp-8:checked ~* [for="tilVMidt-8"]{
    bottom: 0vmin;
    transform:rotate(180deg);

}

/*Label V-midt nedenfra*/
#ned-1:checked ~* [for="tilVMidt-1"],
#ned-2:checked ~* [for="tilVMidt-2"],
#ned-3:checked ~* [for="tilVMidt-3"],
#ned-4:checked ~* [for="tilVMidt-4"],
#ned-5:checked ~* [for="tilVMidt-5"],
#ned-6:checked ~* [for="tilVMidt-6"],
#ned-7:checked ~* [for="tilVMidt-7"],
#ned-8:checked ~* [for="tilVMidt-8"]{
    bottom: 17vmin;
    transform:rotate(0deg);


}

label[for^="tilHMidt"]{
    display:none;
    top:5vmin;
}

/*Label H-midt fra venstre*/
#tilVenstre-1:checked ~* [for="tilHMidt-1"],
#tilVenstre-2:checked ~* [for="tilHMidt-2"],
#tilVenstre-3:checked ~* [for="tilHMidt-3"],
#tilVenstre-4:checked ~* [for="tilHMidt-4"],
#tilVenstre-5:checked ~* [for="tilHMidt-5"],
#tilVenstre-6:checked ~* [for="tilHMidt-6"],
#tilVenstre-7:checked ~* [for="tilHMidt-7"],
#tilVenstre-8:checked ~* [for="tilHMidt-8"]{
    right: 1vmin;
    transform:rotate(90deg);
}

/*Label H-midt fra høyre*/
#tilHoyre-1:checked ~* [for="tilHMidt-1"],
#tilHoyre-2:checked ~* [for="tilHMidt-2"],
#tilHoyre-3:checked ~* [for="tilHMidt-3"],
#tilHoyre-4:checked ~* [for="tilHMidt-4"],
#tilHoyre-5:checked ~* [for="tilHMidt-5"],
#tilHoyre-6:checked ~* [for="tilHMidt-6"],
#tilHoyre-7:checked ~* [for="tilHMidt-7"],
#tilHoyre-8:checked ~* [for="tilHMidt-8"]{
    right: 18vmin;
    transform:rotate(-90deg);
}

/*Hover opp*/
[for*="opp"]:hover{
   top: -15vmin;
}


/*Hover ned*/
[for*="ned"]:hover {
    bottom: -15vmin;
}

/*Hover venstre*/
[for*="Venstre"]:hover{
    left: -14vmin;
}

/*Hover høyre*/
[for*="Hoyre"]:hover{
    right: -14vmin;
}

/*Hover V-midt ovenfra*/
#opp-1:checked ~* [for="tilVMidt-1"]:hover,
#opp-2:checked ~* [for="tilVMidt-2"]:hover,
#opp-3:checked ~* [for="tilVMidt-3"]:hover,
#opp-4:checked ~* [for="tilVMidt-4"]:hover,
#opp-5:checked ~* [for="tilVMidt-5"]:hover,
#opp-6:checked ~* [for="tilVMidt-6"]:hover,
#opp-7:checked ~* [for="tilVMidt-7"]:hover,
#opp-8:checked ~* [for="tilVMidt-8"]:hover{
    bottom: -2vmin;
}

/*Hover V-midt nedenfra*/
#ned-1:checked ~* [for="tilVMidt-1"]:hover,
#ned-2:checked ~* [for="tilVMidt-2"]:hover,
#ned-3:checked ~* [for="tilVMidt-3"]:hover,
#ned-4:checked ~* [for="tilVMidt-4"]:hover,
#ned-5:checked ~* [for="tilVMidt-5"]:hover,
#ned-6:checked ~* [for="tilVMidt-6"]:hover,
#ned-7:checked ~* [for="tilVMidt-7"]:hover,
#ned-8:checked ~* [for="tilVMidt-8"]:hover{
    bottom: 20vmin;
}

/*Hover H-midt fra venstre*/
#tilVenstre-1:checked ~* [for="tilHMidt-1"]:hover,
#tilVenstre-2:checked ~* [for="tilHMidt-2"]:hover,
#tilVenstre-3:checked ~* [for="tilHMidt-3"]:hover,
#tilVenstre-4:checked ~* [for="tilHMidt-4"]:hover,
#tilVenstre-5:checked ~* [for="tilHMidt-5"]:hover,
#tilVenstre-6:checked ~* [for="tilHMidt-6"]:hover,
#tilVenstre-7:checked ~* [for="tilHMidt-7"]:hover,
#tilVenstre-8:checked ~* [for="tilHMidt-8"]:hover{
    right: -1vmin;
}

/*Hover H-midt fra høyre*/
#tilHoyre-1:checked ~* [for="tilHMidt-1"]:hover,
#tilHoyre-2:checked ~* [for="tilHMidt-2"]:hover,
#tilHoyre-3:checked ~* [for="tilHMidt-3"]:hover,
#tilHoyre-4:checked ~* [for="tilHMidt-4"]:hover,
#tilHoyre-5:checked ~* [for="tilHMidt-5"]:hover,
#tilHoyre-6:checked ~* [for="tilHMidt-6"]:hover,
#tilHoyre-7:checked ~* [for="tilHMidt-7"]:hover,
#tilHoyre-8:checked ~* [for="tilHMidt-8"]:hover{
    right: 21vmin;
}


/*For en checked input, velg alle etterfølgende elementer og finn children med bestemt attributt.
Dete gjøres for å flytte og rotere trykke-flaten. */
#opp-1:checked ~* [for="tilVMidt-1"],
#opp-2:checked ~* [for="tilVMidt-2"],
#opp-3:checked ~* [for="tilVMidt-3"],
#opp-4:checked ~* [for="tilVMidt-4"],
#opp-5:checked ~* [for="tilVMidt-5"],
#opp-6:checked ~* [for="tilVMidt-6"],
#opp-7:checked ~* [for="tilVMidt-7"],
#opp-8:checked ~* [for="tilVMidt-8"]{
    display:block;
    transform:translate(0,13vmin) rotate(180deg);
}
#ned-1:checked ~* [for="tilVMidt-1"],
#ned-2:checked ~* [for="tilVMidt-2"],
#ned-3:checked ~* [for="tilVMidt-3"],
#ned-4:checked ~* [for="tilVMidt-4"],
#ned-5:checked ~* [for="tilVMidt-5"],
#ned-6:checked ~* [for="tilVMidt-6"],
#ned-7:checked ~* [for="tilVMidt-7"],
#ned-8:checked ~* [for="tilVMidt-8"]{
    display:block;
    transform:translate(0,-6vmin) rotate(0deg);
}
#tilVenstre-1:checked ~* [for="tilHMidt-1"],
#tilVenstre-2:checked ~* [for="tilHMidt-2"],
#tilVenstre-3:checked ~* [for="tilHMidt-3"],
#tilVenstre-4:checked ~* [for="tilHMidt-4"],
#tilVenstre-5:checked ~* [for="tilHMidt-5"],
#tilVenstre-6:checked ~* [for="tilHMidt-6"],
#tilVenstre-7:checked ~* [for="tilHMidt-7"],
#tilVenstre-8:checked ~* [for="tilHMidt-8"]{
    display:block;
    transform:translate(13vmin,0) rotate(90deg);
}
#tilHoyre-1:checked ~* [for="tilHMidt-1"],
#tilHoyre-2:checked ~* [for="tilHMidt-2"],
#tilHoyre-3:checked ~* [for="tilHMidt-3"],
#tilHoyre-4:checked ~* [for="tilHMidt-4"],
#tilHoyre-5:checked ~* [for="tilHMidt-5"],
#tilHoyre-6:checked ~* [for="tilHMidt-6"],
#tilHoyre-7:checked ~* [for="tilHMidt-7"],
#tilHoyre-8:checked ~* [for="tilHMidt-8"]{
    display:block;
    transform:translate(-6vmin,0) rotate(-90deg);
}



#tilHoyre-1:checked ~* [for="tilVenstre-1"],
#tilHoyre-2:checked ~* [for="tilVenstre-2"],
#tilHoyre-3:checked ~* [for="tilVenstre-3"],
#tilHoyre-4:checked ~* [for="tilVenstre-4"],
#tilHoyre-5:checked ~* [for="tilVenstre-5"],
#tilHoyre-6:checked ~* [for="tilVenstre-6"],
#tilHoyre-7:checked ~* [for="tilVenstre-7"],
#tilHoyre-8:checked ~* [for="tilVenstre-8"]{
    display:none;
}

#tilVenstre-1:checked ~* [for="tilHoyre-1"],
#tilVenstre-2:checked ~* [for="tilHoyre-2"],
#tilVenstre-3:checked ~* [for="tilHoyre-3"],
#tilVenstre-4:checked ~* [for="tilHoyre-4"],
#tilVenstre-5:checked ~* [for="tilHoyre-5"],
#tilVenstre-6:checked ~* [for="tilHoyre-6"],
#tilVenstre-7:checked ~* [for="tilHoyre-7"],
#tilVenstre-8:checked ~* [for="tilHoyre-8"]{
    display:none;
}

#opp-1:checked ~* [for="ned-1"],
#opp-2:checked ~* [for="ned-2"],
#opp-3:checked ~* [for="ned-3"],
#opp-4:checked ~* [for="ned-4"],
#opp-5:checked ~* [for="ned-5"],
#opp-6:checked ~* [for="ned-6"],
#opp-7:checked ~* [for="ned-7"],
#opp-8:checked ~* [for="ned-8"]{
    display:none;

}
#ned-1:checked ~* [for="opp-1"],
#ned-2:checked ~* [for="opp-2"],
#ned-3:checked ~* [for="opp-3"],
#ned-4:checked ~* [for="opp-4"],
#ned-5:checked ~* [for="opp-5"],
#ned-6:checked ~* [for="opp-6"],
#ned-7:checked ~* [for="opp-7"],
#ned-8:checked ~* [for="opp-8"]{
    display:none;

}

/* Flytter brikker når tilsvarende radio er checked*/
#opp-1:checked ~* .brikke-1,
#opp-2:checked ~* .brikke-2,
#opp-3:checked ~* .brikke-3,
#opp-4:checked ~* .brikke-4,
#opp-5:checked ~* .brikke-5,
#opp-6:checked ~* .brikke-6,
#opp-7:checked ~* .brikke-7,
#opp-8:checked ~* .brikke-8{
    top:0;
}
#tilVMidt-1:checked ~ * .brikke-1,
#tilVMidt-2:checked ~ * .brikke-2,
#tilVMidt-3:checked ~ * .brikke-3,
#tilVMidt-4:checked ~ * .brikke-4,
#tilVMidt-5:checked ~ * .brikke-5,
#tilVMidt-6:checked ~ * .brikke-6,
#tilVMidt-7:checked ~ * .brikke-7,
#tilVMidt-8:checked ~ * .brikke-8{
    top:30vmin;
}
#ned-1:checked ~ * .brikke-1,
#ned-2:checked ~ * .brikke-2,
#ned-3:checked ~ * .brikke-3,
#ned-4:checked ~ * .brikke-4,
#ned-5:checked ~ * .brikke-5,
#ned-6:checked ~ * .brikke-6,
#ned-7:checked ~ * .brikke-7,
#ned-8:checked ~ * .brikke-8{
    top:60vmin;
}
#tilVenstre-1:checked ~ * .brikke-1,
#tilVenstre-2:checked ~ * .brikke-2,
#tilVenstre-3:checked ~ * .brikke-3,
#tilVenstre-4:checked ~ * .brikke-4,
#tilVenstre-5:checked ~ * .brikke-5,
#tilVenstre-6:checked ~ * .brikke-6,
#tilVenstre-7:checked ~ * .brikke-7,
#tilVenstre-8:checked ~ * .brikke-8{
    left:0;
}
#tilHMidt-1:checked ~ * .brikke-1,
#tilHMidt-2:checked ~ * .brikke-2,
#tilHMidt-3:checked ~ * .brikke-3,
#tilHMidt-4:checked ~ * .brikke-4,
#tilHMidt-5:checked ~ * .brikke-5,
#tilHMidt-6:checked ~ * .brikke-6,
#tilHMidt-7:checked ~ * .brikke-7,
#tilHMidt-8:checked ~ * .brikke-8{
    left:30vmin;
}
#tilHoyre-1:checked ~* .brikke-1,
#tilHoyre-2:checked ~* .brikke-2,
#tilHoyre-3:checked ~* .brikke-3,
#tilHoyre-4:checked ~* .brikke-4,
#tilHoyre-5:checked ~* .brikke-5,
#tilHoyre-6:checked ~* .brikke-6,
#tilHoyre-7:checked ~* .brikke-7,
#tilHoyre-8:checked ~* .brikke-8{
    left:60vmin;
}




/*Bestemmer hvilken bit av bildet som skal vises*/
.brikke-1:after{
    background-position: top left;
}

.brikke-2::after{
    background-position: top;
}
.brikke-3:after{
    background-position: top right;
}

.brikke-4:after{
    background-position: center left;
}
.brikke-5:after{
    background-position: center;
}
.brikke-6:after{
    background-position: center right;
}
.brikke-7:after{
    background-position: bottom left;
}
.brikke-8:after{
    background-position: bottom;
}

/*TODO: vis brikke 9 ved win*/

.brikke-9:after{
}


/* Når ferdig */
.win{
    color: #fff;
    font-size: 13vmin;
    width:100%;
    height: 2em;
    line-height: 2em;
    z-index: 27;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1em 0 0 -50%;
    text-align: center;
    background: green;
    transform:scale(0);
}
.winText {
    text-shadow: 0 0 .2em #000;
}

#opp-1:checked ~ #tilVenstre-1:checked ~ #opp-2:checked
~ #tilHMidt-2:checked ~ #opp-3:checked ~ #tilHoyre-3:checked
~ #tilVMidt-4:checked ~ #tilVenstre-4:checked ~ #tilVMidt-5:checked
~ #tilHMidt-5:checked ~ #tilVMidt-6:checked ~ #tilHoyre-6:checked
~ #ned-7:checked ~ #tilVenstre-7:checked ~ #ned-8:checked
~ #tilHMidt-8:checked ~ .win{
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-name: win;
}

@keyframes win{
    0%,100%{transform:scale(0);}
    10%,90%{transform:scale(1);}
}



/* Skjul radiobuttons*/
input {
    display: none;
}

/* DEBUG */
input[name^="vertikal"]{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

