body {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient( #c80000, #6f0603);
    text-align: center;
    font-family: Arial;
}

.brett {
    font-size:1vmin;
    position: absolute;
    left:calc(50% - 30em);
    top:calc(50% - 30em);
    width: 60em;
    height: 60em;
    //box-shadow: 0 0 2px 2px rgba(256,256,256,0.3);
    border: solid 1px white;
    overflow:hidden;
}

.brikke {
    position:absolute;
    width:20em;
    height:20em;
    transition:top .5s, left .5s;
}

/*Bilde-brikkene*/
.brikke::after {
    border: solid 0.1em white;
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;
    background-size: 60em 60em;
    background-image: url("assets/009-2.jpg");
}
.brikke:hover::after {
    border-color: green;
}


/*Det du trykker på*/
label {
    display:block;
    width: 13em;
    height: 13em;
    position:absolute;
    transform:rotate(45deg);
    background:green;
    //clip-path: polygon(50% 0%, 80% 30%, 70% 30%, 90% 50%, 80% 50%, 100% 70%, 60% 70%, 60% 80%, 40% 80%, 40% 70%, 0% 70%, 20% 50%, 10% 50%, 30% 30%, 20% 30%);

}
label:hover{
    background:#666;
    outline:.5em solid #111;
}

/*Default plassering av trykkeflate*/
label[for^="opp"]{
    top: -6em;
    left:3.5em;
}
label[for^="tilVMidt"]{
    display:none;
    z-index:5;
    left:3.5em;
}
 label[for^="ned"]{
    bottom: -6em;
    left:3.5em;
}
label[for^="tilVenstre"]{
    left: -6em;
    top:3.5em;
}
label[for^="tilHMidt"]{
    display:none;
    z-index:5;
    top:3.5em;
}
label[for^="tilHoyre"]{
    right: -6em;
    top:3.5em;
}

/*For en checked input, velg alle etterfølgende elementer og finn children med bestemt attributt.
Dete gjøres for å flytte og rotere trykke-flaten. */
#opp-1:checked ~* [for="tilVMidt-1"],
#opp-2:checked ~* [for="tilVMidt-2"],
#opp-3:checked ~* [for="tilVMidt-3"],
#opp-4:checked ~* [for="tilVMidt-4"],
#opp-5:checked ~* [for="tilVMidt-5"],
#opp-6:checked ~* [for="tilVMidt-6"],
#opp-7:checked ~* [for="tilVMidt-7"],
#opp-8:checked ~* [for="tilVMidt-8"]{
    display:block;
    transform:translate(0,13em) rotate(45deg);
}
#ned-1:checked ~* [for="tilVMidt-1"],
#ned-2:checked ~* [for="tilVMidt-2"],
#ned-3:checked ~* [for="tilVMidt-3"],
#ned-4:checked ~* [for="tilVMidt-4"],
#ned-5:checked ~* [for="tilVMidt-5"],
#ned-6:checked ~* [for="tilVMidt-6"],
#ned-7:checked ~* [for="tilVMidt-7"],
#ned-8:checked ~* [for="tilVMidt-8"]{
    display:block;
    transform:translate(0,-6em) rotate(45deg);
}
#tilVenstre-1:checked ~* [for="tilHMidt-1"],
#tilVenstre-2:checked ~* [for="tilHMidt-2"],
#tilVenstre-3:checked ~* [for="tilHMidt-3"],
#tilVenstre-4:checked ~* [for="tilHMidt-4"],
#tilVenstre-5:checked ~* [for="tilHMidt-5"],
#tilVenstre-6:checked ~* [for="tilHMidt-6"],
#tilVenstre-7:checked ~* [for="tilHMidt-7"],
#tilVenstre-8:checked ~* [for="tilHMidt-8"]{
    display:block;
    transform:translate(13em,0) rotate(45deg);
}
#tilHoyre-1:checked ~* [for="tilHMidt-1"],
#tilHoyre-2:checked ~* [for="tilHMidt-2"],
#tilHoyre-3:checked ~* [for="tilHMidt-3"],
#tilHoyre-4:checked ~* [for="tilHMidt-4"],
#tilHoyre-5:checked ~* [for="tilHMidt-5"],
#tilHoyre-6:checked ~* [for="tilHMidt-6"],
#tilHoyre-7:checked ~* [for="tilHMidt-7"],
#tilHoyre-8:checked ~* [for="tilHMidt-8"]{
    display:block;
    background-color: pink;
    transform:translate(-6em,0) rotate(45deg);
}

/* Flytter brikker når tilsvarende radio er checked*/
#opp-1:checked ~* .brikke-1,
#opp-2:checked ~* .brikke-2,
#opp-3:checked ~* .brikke-3,
#opp-4:checked ~* .brikke-4,
#opp-5:checked ~* .brikke-5,
#opp-6:checked ~* .brikke-6,
#opp-7:checked ~* .brikke-7,
#opp-8:checked ~* .brikke-8{
    top:0;
}
#tilVMidt-1:checked ~ * .brikke-1,
#tilVMidt-2:checked ~ * .brikke-2,
#tilVMidt-3:checked ~ * .brikke-3,
#tilVMidt-4:checked ~ * .brikke-4,
#tilVMidt-5:checked ~ * .brikke-5,
#tilVMidt-6:checked ~ * .brikke-6,
#tilVMidt-7:checked ~ * .brikke-7,
#tilVMidt-8:checked ~ * .brikke-8{
    top:20em;
}
#ned-1:checked ~ * .brikke-1,
#ned-2:checked ~ * .brikke-2,
#ned-3:checked ~ * .brikke-3,
#ned-4:checked ~ * .brikke-4,
#ned-5:checked ~ * .brikke-5,
#ned-6:checked ~ * .brikke-6,
#ned-7:checked ~ * .brikke-7,
#ned-8:checked ~ * .brikke-8{
    top:40em;
}
#tilVenstre-1:checked ~ * .brikke-1,
#tilVenstre-2:checked ~ * .brikke-2,
#tilVenstre-3:checked ~ * .brikke-3,
#tilVenstre-4:checked ~ * .brikke-4,
#tilVenstre-5:checked ~ * .brikke-5,
#tilVenstre-6:checked ~ * .brikke-6,
#tilVenstre-7:checked ~ * .brikke-7,
#tilVenstre-8:checked ~ * .brikke-8{
    left:0;
}
#tilHMidt-1:checked ~ * .brikke-1,
#tilHMidt-2:checked ~ * .brikke-2,
#tilHMidt-3:checked ~ * .brikke-3,
#tilHMidt-4:checked ~ * .brikke-4,
#tilHMidt-5:checked ~ * .brikke-5,
#tilHMidt-6:checked ~ * .brikke-6,
#tilHMidt-7:checked ~ * .brikke-7,
#tilHMidt-8:checked ~ * .brikke-8{
    left:20em;
}
#tilHoyre-1:checked ~* .brikke-1,
#tilHoyre-2:checked ~* .brikke-2,
#tilHoyre-3:checked ~* .brikke-3,
#tilHoyre-4:checked ~* .brikke-4,
#tilHoyre-5:checked ~* .brikke-5,
#tilHoyre-6:checked ~* .brikke-6,
#tilHoyre-7:checked ~* .brikke-7,
#tilHoyre-8:checked ~* .brikke-8{
    left:40em;
}


/*
input[id="TilVMidt-6"]:checked ~ * .brikke-6{
    top: 20em;
}
input[id="Ned-6"]:checked ~ * .brikke-6{
    top: 40em;
}
 */


/*Bestemmer hvilken bit av bildet som skal vises*/
.brikke-1:after{
    background-position: top left;
}

.brikke-2::after{
    background-position: top;
}
.brikke-3:after{
    background-position: top right;
}

.brikke-4:after{
    background-position: center left;
}
.brikke-5:after{
    background-position: center;
}
.brikke-6:after{
    background-position: center right;
}
.brikke-7:after{
    background-position: bottom left;
}
.brikke-8:after{
    background-position: bottom;
}

/*TODO: vis brikke 9 ved win*/

.brikke-9:after{
    //background: transparent;
    //background-position: bottom right;
}

/*
.brikke-1{
    background-position: top left;
}

.brikke-2{
    left: 20em;
    background-position: top;
}
.brikke-3{
    left: 40em;
    background-position: top right;
}

.brikke-4{
    top: 20em;
    background-position: center left;
}
.brikke-5{
    top: 20em;
    left: 20em;
    background-position: center;
}
.brikke-6{
    top: 20em;
    left: 40em;
    background-position: center right;
}
.brikke-7{
    top: 40em;

    background-position: bottom left;
}
.brikke-8{
    //top: 40em;
    //left: 20em;
    //background-position: bottom;
}



.brikke-9{
    display:none;
    background-position: bottom right;
}

*/




/* Winner*/

.win{
    color: #fff;
    font-size: 3em;
    width:100%;
    position:absolute;
    bottom:0.6em;
    line-height: 2em;
    transform:scale(0);
}

#opp-1:checked ~ #tilVenstre-1:checked ~ #opp-2:checked
~ #tilHMidt-2:checked ~ #opp-3:checked ~ #tilHoyre-3:checked
~ #tilVMidt-4:checked ~ #tilVenstre-4:checked ~ #tilVMidt-5:checked
~ #tilHMidt-5:checked ~ #tilVMidt-6:checked ~ #tilHoyre-6:checked
~ #ned-7:checked ~ #tilVenstre-7:checked ~ #ned-8:checked
~ #tilHMidt-8:checked ~ .win{
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-name: win;
}
@keyframes win{
    0%,100%{transform:scale(0);}
    10%,90%{transform:scale(1);}
}




/* CLOCK  */
.clock {

}
.clock:before {
    content: attr(data-counter);
    animation: countopp 1000s steps(1, start) forwards;
}

@keyframes countopp {

    1% {
        content: '0';
    }
    10% {
        content: '100';
    }
    20% {
        content: '200';
    }
    30% {
        content: '300';
    }
    40% {
        content: '400';
    }
    50% {
        content: '500';
    }
    60% {
        content: '600';
    }
    70% {
        content: '700';
    }
    80% {
        content: '800';
    }
    90% {
        content: '900';
    }
    100% {
        content: 'Tiden er ute!';
    }
}


#three{
    width:400px;
    height:700px;
    background:green;
    clip-path: polygon(50% 0%, 80% 30%, 70% 30%, 90% 50%, 80% 50%, 100% 70%, 60% 70%, 60% 80%, 40% 80%, 40% 70%, 0% 70%, 20% 50%, 10% 50%, 30% 30%, 20% 30%);
}



/* Skjul radiobuttons*/
input {
    //display: none;
}

/* DEBUG */
input[name^="vertikal"]{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

